.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h1 Hello Factorized World
        %p Welcome to our beautiful website. Please pick a random factor.
        %p
          %a.btn.btn-primary.btn-lg{href: "/random"} Random
