.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h5
          Factors for:
        %h1
          = number.value

        - if !number.factors?
          %p
            I'm sorry, we have not factored this number.
          %p
            %a.btn.btn-primary.btn{href: "#", id: "showSubmitForm"} Submit it?

.row
  .col-lg-12
    = haml(:'factors/factors', layout: false, locals: {number: number})
    = haml(:'factors/submit', layout: false, locals: {number: number})