.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h5
          Factors for:
        %h1
          = number.value

        - if !number.has_factors?
          %p
            I'm sorry, we have not factored this number.
          %p
            %a.btn.btn-primary.btn{href: "/random"} Submit it?
.row
  .col-lg-12
    - if number.has_factors?
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th #
            %th Factor
        %tbody
        - number.factors.each_with_index do |number, index|
          %tr
            %td
              = index + 1
            %td
              %a{href: "/factors/#{number}"}
                = number