%h5
  Factors for:

%h1
  = number.value


- if number.has_factors?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Factor
    %tbody
      %tr
        %td 1
        %td
          %a{href: '/factors/factor'}Factor
      %tr
        %td 2
        %td
          %a{href: '/factors/factor'}Factor
      %tr
        %td 3
        %td
          %a{href: '/factors/factor'}Factor
      %tr
        %td 4
        %td
          %a{href: '/factors/factor'}Factor
      %tr
        %td 5
        %td
          %a{href: '/factors/factor'}Factor
      %tr
        %td 6
        %td
          %a{href: '/factors/factor'}Factor
      %tr
        %td 7
        %td
          %a{href: '/factors/factor'}Factor
- else
  %p
    We have not factored this number.  Would you like to submit it?