.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h5
          Factors for:
        %h1
          = number.value.to_i.to_delimited

        - if !number.factors?
          %p
            I'm sorry, we have not factored this number.
          %p
            %form.form-horizontal{id: "submit-number-form", action: "/numbers/#{number.value}", method: :post}
              .form-group
                .col-lg-10.col-lg-offset-2
                  %button.btn.btn-primary{type: "submit"} Submit this number
.row
  .col-lg-12
    = haml(:'numbers/numbers', layout: false, locals: {number: number})