- if number.factors?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Factor
    %tbody
    - number.factors.each_with_index do |number, index|
      %tr
        %td
          = index + 1
        %td
          %a{href: "/numbers/#{number}"}
            = number